<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/main.css'>
    <script src='static/js/main.js'></script>
    <script>
        var total_covid_info = {{ total_info | safe }}
        var top_ten_confirmed = {{ top_ten_confirmed | safe }}
        var top_ten_recovered = {{ top_ten_recovered | safe }}
        var top_ten_deaths = {{ top_ten_deaths | safe }}
    </script>
</head>
<body>
    <p>Dashboard</p>
</body>
</html>